.container {
  height: 500px;
}
.login-form-div {
  padding: 10px;
}
.login-button-div {
  margin-top: 10px;
}
.login-messages {
  height: 35px;
  line-height: 35px;
  background-color: #F39150;
  border: 1px #FF7777;
  color: #ffffff;
  border-radius: 4px;
}
.forget-pwd {
  padding-right: 0px;
}