ul, li {
	list-style-type:none;
	padding: 0px;
	margin: 2px 0px;
}
.no-padding {
	padding: 0px;
}
.tip-div {
	position: absolute;
	background-color: #F39150;
	color: #f0f0f0;
	text-align: center;
	border-radius: 5px;
	padding:10px;
	z-index: 1000;
	top: 72%;
	visibility: hidden;
	
}
.diary-bg {
	border-radius: 5px;
	background-image: url("../images/diarybg/bg_00.jpg");
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	margin-bottom: 20px;
}
li input {
	opacity: 0.8;
}
li a:link{
	color: #FFFFFF;
}
.white-theme {
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}
li {
	color: #FFFFFF;
	font-size: 16px;
}
img {
	cursor: pointer;
}
/** 预览图片 **/
.image-preview {
	text-align: center;
	width: 100%;
}